<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OctopusFramework.V3.Core" version="0.0.4" targetFramework="net461" />
  <package id="OctopusFramework.V3.Data" version="0.0.1" targetFramework="net461" />
  <package id="OctopusFramework.V3.Net.Mvc" version="0.0.1" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net461" />
</packages>